h2 {
  font-family: 'Londrina Solid', cursive;
  font-weight: 400;
  font-size: 2.5em;
  color: rgb(41, 16, 16);
}

#headline {
  text-align: center;
}

#gameheadline {
  font-family: 'Londrina Solid', cursive;
  font-weight: 400;
  font-size: 1.5em;
  color: white;
  text-shadow:0px 1px 1px #333;
  border: 1px solid steelblue;
  padding: 3px;
  margin-left: 10%;
  margin-right: 10%;
  background-color: lightsteelblue;
}

#gameplay {
  text-align: center;
}

.winner {
  font-weight: bold;
  color: green;
}

button {
  border: 2px solid white;

}
button:hover {
  border: 2px solid blue;

}

ul {
  list-style: none;
  -webkit-padding-start: 0;
}

ul li {
  text-indent: 0;
}

.playgame {
	-moz-box-shadow:inset 0px 1px 0px 0px #f5978e;
	-webkit-box-shadow:inset 0px 1px 0px 0px #f5978e;
	box-shadow:inset 0px 1px 0px 0px #f5978e;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f24537), color-stop(1, #c62d1f));
	background:-moz-linear-gradient(top, #f24537 5%, #c62d1f 100%);
	background:-webkit-linear-gradient(top, #f24537 5%, #c62d1f 100%);
	background:-o-linear-gradient(top, #f24537 5%, #c62d1f 100%);
	background:-ms-linear-gradient(top, #f24537 5%, #c62d1f 100%);
	background:linear-gradient(to bottom, #f24537 5%, #c62d1f 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f24537', endColorstr='#c62d1f',GradientType=0);
	background-color:#f24537;
	-moz-border-radius:11px;
	-webkit-border-radius:11px;
	border-radius:11px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:'Londrina Solid';
	font-size:18px;
	font-weight:400;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #810e05;
}
.playgame:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #c62d1f), color-stop(1, #f24537));
	background:-moz-linear-gradient(top, #c62d1f 5%, #f24537 100%);
	background:-webkit-linear-gradient(top, #c62d1f 5%, #f24537 100%);
	background:-o-linear-gradient(top, #c62d1f 5%, #f24537 100%);
	background:-ms-linear-gradient(top, #c62d1f 5%, #f24537 100%);
	background:linear-gradient(to bottom, #c62d1f 5%, #f24537 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#c62d1f', endColorstr='#f24537',GradientType=0);
  background-color:#c62d1f;
}
.playgame:active {
	position:relative;
	top:1px;
}

img {
  margin: 10px;
  border-width: 0;
}
